In [1]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

from numpy.random import randn

In [3]:
#Create series with multiple index levels
ser = Series(np.random.randn(6),index=[[1,1,1,2,2,2],['a','b','c','a','b','c']])
ser

1  a    1.071002
   b   -1.318373
   c    0.623964
2  a   -0.684709
   b    0.296348
   c   -0.319691
dtype: float64

In [4]:
#Check index description on series
ser.index

MultiIndex(levels=[[1, 2], ['a', 'b', 'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [5]:
#Select first subseries within multi level series
print(ser[1])

a    1.071002
b   -1.318373
c    0.623964
dtype: float64

In [9]:
#Select first row within second sub series in multi level series
print(ser[2][0])
print(ser[2]['b'])

-0.6847085914313247
0.2963484459114932

In [10]:
#Select from internal index level a
ser[:,'a']

1    1.071002
2   -0.684709
dtype: float64

In [11]:
#Create dataframe from multilevel series
dframe = ser.unstack()
dframe

          a         b         c
1  1.071002 -1.318373  0.623964
2 -0.684709  0.296348 -0.319691

In [12]:
#reverse level ordering
dframe.unstack()

a  1    1.071002
   2   -0.684709
b  1   -1.318373
   2    0.296348
c  1    0.623964
   2   -0.319691
dtype: float64

In [13]:
# Multiindex dataframes
dframe2 = DataFrame(np.arange(16).reshape(4,4),
                    index=[['a','a','b','b'],[1,2,1,2]],
                    columns=[['NY','NY','LA','SF'],['cold','hot','hot','cold']])
                                                   
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [14]:
# Give the multi level indexes a name
dframe2.index.names = ['INDEX_1','INDEX_2']
#Name the column levels
dframe2.columns.names = ['Cities','Temp']
dframe2

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [19]:
# Interchange level orders (note the axis=1 for columns)
dframe2.swaplevel('Cities','Temp',axis=1)

Temp            cold hot     cold
Cities            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [17]:
#Sort inner index levels
dframe2.sort_index(level=1)

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
b       1          8   9  10   11
a       2          4   5   6    7
b       2         12  13  14   15

In [20]:
#Sum up temperatures
dframe2.sum(level='Temp',axis=1)

Temp             cold  hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27