## Reading and writing text files in panda

In [1]:
import numpy as np
import pandas as pd 
from pandas import Series,DataFrame

In [2]:
df = pd.read_csv('rw_sample.csv')
df

     sa   rock  2009
0  xcgf  blues  1990
1  yrts  indie  2017
2   bbb    rnb  2003

The first row was taken as the header by default. To prevent this do the below.

In [3]:
df = pd.read_csv('rw_sample.csv',header=None)
df

      0      1     2
0    sa   rock  2009
1  xcgf  blues  1990
2  yrts  indie  2017
3   bbb    rnb  2003

In [4]:
#Generalized form of read_csv -- read_table
df1 = pd.read_table('rw_sample.csv',sep=',',header=None)
df1

      0      1     2
0    sa   rock  2009
1  xcgf  blues  1990
2  yrts  indie  2017
3   bbb    rnb  2003

In [6]:
#read only a particular number of rows
df = pd.read_csv('rw_sample.csv',header=None,nrows=2)
df

      0      1     2
0    sa   rock  2009
1  xcgf  blues  1990

In [8]:
#Save dataframe to external file with seperator of choice
df.to_csv('df_output.csv',sep=' ')

However the above method also saves the row and column indexes to the file.

In [16]:
import sys
df.to_csv(sys.stdout)

,0,1,2
0,sa,rock,2009
1,xcgf,blues,1990

In [17]:
#To remove the indexes and headers from the file
df.to_csv(sys.stdout,index=False,header=False)

sa,rock,2009
xcgf,blues,1990

In [20]:
#Write only a specific subset of columns
df.to_csv(sys.stdout,columns=[0,1],index=False,header=False)

sa,rock
xcgf,blues

In [21]:
#You should also check out pythons built-in csv reader and writer for more info:
# https://docs.python.org/2/library/csv.html