## Series

A Series is a one-dimensional object that can hold any data type such as integers, floats and strings.

In [3]:
import pandas as pd
from pandas import Series

In [7]:
sample_series = Series([3,6,9,12])
print("Sample series:", sample_series,"\n")
print("Series Index:", sample_series.index,"\n")
print("Series Value:",sample_series.values,"\n")

Sample series: 0     3
1     6
2     9
3    12
dtype: int64

Series Index: RangeIndex(start=0, stop=4, step=1)

Series Value: [ 3  6  9 12]

In [8]:
#WW2 casualties 
ww2_cas = Series([8700000,4300000,3000000,2100000,400000],index=['USSR','Germany','China','Japan','USA'])

ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [9]:
#Select value from series based on index 
ww2_cas["Japan"]

2100000

In [10]:
#Conditional retrieval of entries 
ww2_cas[ww2_cas<4300000]

China    3000000
Japan    2100000
USA       400000
dtype: int64

In [11]:
# Check if entry exists in Series
"China" in ww2_cas

True

In [13]:
#Convert series to dictionary 
ww2_dict = ww2_cas.to_dict()
print(ww2_dict,"\n")

#Create series from dictionary 
ww2_cas = Series(ww2_dict)
print(ww2_cas)

{'USSR': 8700000, 'Germany': 4300000, 'China': 3000000, 'Japan': 2100000, 'USA': 400000}

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [14]:
#Sort the entries in Series based on passed index values
index_sorted = ['Argentina','China','Germany','Japan','USA','USSR']
ww2_cas = Series(ww2_cas,index=index_sorted)
print(ww2_cas)

Argentina          NaN
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
dtype: float64

In [16]:
#Find whether null entries in Series
pd.isnull(ww2_cas)

Argentina     True
China        False
Germany      False
Japan        False
USA          False
USSR         False
dtype: bool

In [17]:
#Find whether non null entries in Series
pd.notnull(ww2_cas)

Argentina    False
China         True
Germany       True
Japan         True
USA           True
USSR          True
dtype: bool

In [18]:
#casualties without Argentina
ww2_wa = Series([8700000,4300000,3000000,2100000,400000],index=['USSR','Germany','China','Japan','USA'])
ww2_wa

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [19]:
#Add two series together - they will be aligned based on index
ww2_cas + ww2_wa

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USSR         17400000.0
dtype: float64

In [20]:
#Name things in series
#Name the series 
ww2_cas.name = 'World war 2 casualties'
ww2_cas

Argentina          NaN
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Name: World war 2 casualties, dtype: float64

In [22]:
#Name the index
ww2_cas.index.name = "Countries"
ww2_cas

Countries
Argentina          NaN
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Name: World war 2 casualties, dtype: float64