## Basic excel with Python

In [1]:
import pandas as pd

In [2]:
#!pip install xlrd

Requirement already satisfied: xlrd in c:\users\shett\anaconda3\lib\site-packages (1.1.0)

In [3]:
#!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\shett\anaconda3\lib\site-packages (2.5.6)
Requirement already satisfied: jdcal in c:\users\shett\anaconda3\lib\site-packages (from openpyxl) (1.4)
Requirement already satisfied: et-xmlfile in c:\users\shett\anaconda3\lib\site-packages (from openpyxl) (1.0.1)

In [4]:
xlsfile = pd.ExcelFile("Sample_excel.xlsx")

In [5]:
df = xlsfile.parse('Sheet1')
df

             Name  Profession  Age  Has kids Date of birth Date of death
0      Vera Rubin   scientist   88      True    1928-07-23    2016-12-25
1     Mohamed Ali     athlete   74      True    1942-01-17    2016-06-03
2    Morley Safer  journalist   84      True    1931-11-08    2016-05-19
3    Fidel Castro  politician   90      True    1926-08-13    2016-11-25
4  Antonin Scalia      lawyer   79      True    1936-03-11    2016-02-13
5          Jo Cox  politician   41      True    1974-06-22    2016-06-16
6      Janet Reno      lawyer   78     False    1938-07-21    2016-11-07
7      Gwen Ifill  journalist   61     False    1955-09-29    2016-11-14
8      John Glenn   astronaut   95      True    1921-07-28    2016-12-08
9      Pat Summit       coach   64      True    1952-06-14    2016-06-28