## Reindex

In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [3]:
#Sample Series
sample_series = Series(['A','B','C','D'],index=[1,2,3,4])
sample_series

1    A
2    B
3    C
4    D
dtype: object

In [14]:
#Add additional indexes and give a default value for new index value not present in previous series
new_index = [1,2,3,4,5,6,7,8]
sample_series.reindex(new_index,fill_value='Def')

1      A
2      B
3      C
4      D
5    Def
6    Def
7    Def
8    Def
dtype: object

In [23]:
#Forward fill
fruits = Series(['Apples','Oranges','Bananas'],index=[0,3,10])
print(fruits,"\n")
print("Apply forward fill \n")
fruits.reindex(range(11),method="ffill")

0      Apples
3     Oranges
10    Bananas
dtype: object

Apply forward fill

0      Apples
1      Apples
2      Apples
3     Oranges
4     Oranges
5     Oranges
6     Oranges
7     Oranges
8     Oranges
9     Oranges
10    Bananas
dtype: object

In [24]:
#Back fill
fruits = Series(['Apples','Oranges','Bananas'],index=[2,3,10])
print(fruits,"\n")
print("Apply backward fill \n")
fruits.reindex(range(11),method="bfill")

2      Apples
3     Oranges
10    Bananas
dtype: object

Apply backward fill

0      Apples
1      Apples
2      Apples
3     Oranges
4     Bananas
5     Bananas
6     Bananas
7     Bananas
8     Bananas
9     Bananas
10    Bananas
dtype: object

In [42]:
fruit_basket = DataFrame([["Apples",2],["Oranges",5],["Bananas",7]], columns=["Fruit","Count"])
fruit_basket

     Fruit  Count
0   Apples      2
1  Oranges      5
2  Bananas      7

In [46]:
fruit_basket.reindex(columns=["Fruit","Count","Market"], fill_value="Uni Market")

     Fruit  Count      Market
0   Apples      2  Uni Market
1  Oranges      5  Uni Market
2  Bananas      7  Uni Market